.bottomInfo {
	transition: font-size 0.3s ease;
}

.textContent {
	opacity: 0.3;
	transition: opacity 0.3s ease;
}

:global([data-focused="true"]) .textContent {
	opacity: 1;
}

:global([data-bottom-line]) {
	&:has(> *):hover,
	&:has(> *):active {
		background-color: transparent;
	}
}

.authorName {
	pointer-events: auto;
	transition: background-color 0.25s;
	border-radius: 0.25em;
	padding: 0.1em 0.3em;
	cursor: default;
	text-decoration: none;
	color: inherit;
}

.authorName:hover {
	background-color: var(--amll-lp-hover-bg-color, #fff1);
}

.authorName:active {
	background-color: var(--amll-lp-hover-bg-color, #ffffff05);
}
